/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header styling */
header {
    background-color: #006400;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

/* Content styling */
.content {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

/* Biography section styling */
.div1 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.div1 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}




/* Achievements section styling */
.divv2 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.div2 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.div2 ul {
    list-style-type: disc;
    padding-left: 20px;
}

.div2 li {
    margin-bottom: 10px;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #006400;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
